body {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    font-size: 38px;
    color: rgb(255, 255, 255);
}
#maze {
    border: 1px solid rgb(2, 255, 2);
    display: grid;
    grid-template-rows: repeat(30, 20px);
    grid-template-columns: repeat(60, 20px); 
}

.brick {
    background-color: rgba(238, 213, 74, 0.959);

}
.floor {
    background-color: rgba(51, 134, 241, 0.637);

}
.lava {
    background-color:rgb(226, 86, 5);
}
.player {
    background-color: rgb(247, 250, 244);

    border-radius: 50%;
}
.target {
    background-color: red;
    border: 1px solid black;
    border-radius: 50%;
}
